---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
import { BIRTHDAY } from 'src/config';

interface AgeResponse {
    age: number;
    nextBirthday: string;
}

const ageResponse = await fetch(
	`https://age.kindled.workers.dev/${BIRTHDAY}`
).then(async (response) => {
	return (await response.json()) as AgeResponse;
});

const languages = [
    {
        name: 'JavaScript',
        link: 'https://developer.mozilla.org/en-US/docs/Web/JavaScript'
    },
    {
        name: 'TypeScript',
        link: 'https://www.typescriptlang.org'
    },
    {
        name: 'Java',
        link: 'https://www.java.com/en'
    },
    {
        name: 'Kotlin',
        link: 'https://kotlinlang.org'
    },
    {
        name: 'Python',
        link: 'https://www.python.org'
    },
    {
        name: 'C',
        link: 'https://en.wikipedia.org/wiki/C_(programming_language)'
    },
    {
        name: 'HTML',
        link: 'https://developer.mozilla.org/en-US/docs/Web/HTML'
    },
    {
        name: 'CSS',
        link: 'https://developer.mozilla.org/en-US/docs/Web/CSS'
    }
]

const skills = [
    {
        name: 'Spigot',
        link: 'https://www.spigotmc.org'
    },
    {
        name: 'PaperMC',
        link: 'https://papermc.io'
    },
    {
        name: 'Plugin Development',
    },
    {
        name: 'Discord Bot Development',
    },
    {
        name: 'Management',
    },
    {
        name: 'System Administration',
    },
    {
        name: 'Moderation',
    },
    {
        name: '130WPM Typing Speed',
    }
]
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Hello, I'm Tarna!
    I'm a {ageResponse.age} year old, self taught developer, freelancer, and a student.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
        title="Moderator at Minehut"
        subtitle="November 2020 to Present"
    >
        Minehut is a popular freemium Minecraft server host that provides services to tens of thousands of daily players. I was a moderator on both the Minehut Discord and their Minecraft server. The Discord currently has over 118,000 members and the Minecraft server currently averages around 6k-7k players with an all time peak of over 31k players. As a moderator, my responsibility is to help users and punish anyone who breaks any of the rules.
    </TimeLineElement>

    <TimeLineElement
        title="Developer at LeoneMC"
        subtitle="December 2023 to August 2024"
    >
        Leone is a large Minecraft server averaging 300-400 players with a peak of 800 players with a variety of gamemodes such as box, lifesteal, smp, and much more. I was the main developer for their mode named “GunCube” as well as a secondary developer on a few of their other modes.
    </TimeLineElement>

    <TimeLineElement
        title="Bot Developer at Vouchley"
        subtitle="September 2023 to Present"
    >
        <a href="https://vouchley.com">Vouchley</a> reviewing platform for freelancers. I am the developer of their official Discord bot that posts reviews to a Discord channel whenever one is received, user info commands, and much more! It is currently in 44 guilds with over 36,000 users.
    </TimeLineElement>

    <TimeLineElement
        title="Support at GravelHost"
        subtitle="March 2024 to Present"
    >
        <a href="https://gravelhost.com">GravelHost</a> is a premium server host offering services for Minecraft, Rust, FiveM, ARK, and more. I am a support agent and my responsibilities include answering tickets and helping customers with any issues they may have.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Languages</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    {languages.map((language) => (
        <li>
            <a href={language.link} target="_blank" class="underline">{language.name}</a>
        </li>
    ))}
  </ul>

  <br />

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    {skills.map((skill) => (
        <li>
            {skill.link ? (
                <a href={skill.link} target="_blank" class="underline">{skill.name}</a>
            ) : (
                <span>{skill.name}</span>
            )}
        </li>
    ))}
  </ul>
</BaseLayout>
