---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"
import { BIRTHDAY } from 'src/config';

interface AgeResponse {
    age: number;
    nextBirthday: string;
}

const ageResponse = await fetch(
	`https://age.kindled.workers.dev/${BIRTHDAY}`
).then(async (response) => {
	return (await response.json()) as AgeResponse;
});

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate!!.valueOf() - a.data.pubDate!!.valueOf());
const last_posts = posts.slice(0, 3);

const projects = (await getCollection("project"))
    .filter(project => project.data.featured)
    .sort((a, b) => b.data.index.valueOf() - a.data.index.valueOf());
const last_projects = projects.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Tarna</div>
    <div class="text-3xl py-3 font-bold">Software Engineer and Freelancer</div>
    <div class="py-2">
        <text class="text-lg">
            Hello, I'm Tarna! I'm a {ageResponse.age} year old, self taught developer, freelancer, and a student.
        </text>
      </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My Projects {"</>"}</div>
  </div>

  {
    last_projects.length === 0 ? (
      <div class="bg-base-200 border-l-4 border-secondary w-full p-4 min-w-full">
        <p class="font-bold">Sorry!</p>
        <p>There are no projects to show at the moment. Check back later!</p>
      </div>
    ) : (
      <ul>
        {last_projects.map((project) => (
          <>
            <HorizontalCard
              title={project.data.title}
              img={project.data.heroImage}
              desc={project.data.description}
              url={"/projects/" + createSlug(project.data.title, project.slug)}
              target="_self"
              badge={project.data.badge}
              tags={project.data.tags}
            />
            <div class="divider my-0" />
          </>
        ))}
      </ul>
    )
  }

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest Blogs</div>
  </div>

  {
    last_posts.length === 0 ? (
      <div class="bg-base-200 border-l-4 border-secondary w-full p-4 min-w-full">
        <p class="font-bold">Sorry!</p>
        <p>There are no blog posts to show at the moment. Check back later!</p>
      </div>
    ) : (
      <ul>
        {last_posts.map((post) => (
          <>
            <HorizontalCard
              title={post.data.title}
              img={post.data.heroImage}
              desc={post.data.description}
              url={"/blog/" + createSlug(post.data.title, post.slug)}
              target="_self"
              badge={post.data.badge}
              tags={post.data.tags}
            />
            <div class="divider my-0" />
          </>
        ))}
      </ul>
    )
  }
</BaseLayout>
